#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC  &kp F1  &kp F2  &kp F3  &kp F4
                &studio_unlock  &kp F5  &kp F6  &kp F7  &kp F8
                &kp DEL  &kp F9  &kp F10  &kp F11  &kp F12
            >;


            // Dial behavior on Layer 0: Turn clockwise for Vol Up, counter-clockwise for Vol Down
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
 

        };
    };
};
